.animate {
    animation: anime 1s ease-in;
  }
.closeAnimated{
  animation: none;
}
  @keyframes anime {
    0%{
        opacity: 0;
        

    }
    100%{
        opacity: 1;
    }
   
  }
  
  .zoomed {
    
    transform: scale(1.5); /* Büyüklüğü 1.5x artırır (zoom) */
  }