@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body{
        @apply font-[Raleway]
    }
    li{
        @apply px-4;
        @apply cursor-pointer
    }
}

.content-div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
    

}
.content-div:hover{
    background-image: linear-gradient(
        to right,
        rgba(112, 157,255,0.8),
        hsla(242, 74%, 62%, 0.8)
    )!important;
}
.fill {
    position: relative;
    height: 45px;
    width: 130px;
    margin: 10px 32px;
    padding: 5px 5px;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 2px;
    color: #FFFF;
    border: 2px #FFFF solid;
    border-radius: 4px;
    text-transform: uppercase;
    outline: 0;
    overflow:hidden;
    background: none;
    z-index: 1;
    cursor: pointer;
    transition:         0.08s ease-in;
   
  }
  .fill:hover{
    border:#EC4899;
    color: black;
    font-weight: bold;
    font-size: 12px;
  }
  
  .fill:before {
    content: "";
    position: absolute;
    background: #EC4899;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    z-index: -1;
    -webkit-transition: top 0.20s ease-in;
  }
  
  .fill:hover:before {
    top: 0;
  }

  /* isActive false durumlarda  */

  .fall {
    position: relative;
    height: 45px;
    width: 130px;
    margin: 10px 32px;
    padding: 5px 5px;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 2px;
    color: black;
    border: 2px black solid;
    border-radius: 4px;
    text-transform: uppercase;
    outline: 0;
    overflow:hidden;
    background: none;
    z-index: 1;
    cursor: pointer;
    transition:         0.08s ease-in;
   
  }
  .fall:hover{
    border:#EC4899;
    color: #ffff;
    font-weight: bold;
    font-size: 12px;
  }
  
  .fall:before {
    content: "";
    position: absolute;
    background: #EC4899;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    z-index: -1;
    -webkit-transition: top 0.20s ease-in;
  }
  
  .fall:hover:before {
    top: 0;
  }

  /* isACtive false durum sonu  */




  